<ion-header>
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-avatar class="profile-picture">
    <img src="{{ profilePicture }}">
  </ion-avatar>

  <ion-list>
    <ion-item>
      <ion-label position="stacked">Full Name</ion-label>
      <ion-input [(ngModel)]="fullName" name="fullName" disabled></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Phone Number</ion-label>
      <ion-input [(ngModel)]="phoneNumber" name="phoneNumber" disabled></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input [(ngModel)]="email" name="email" disabled></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Work Address</ion-label>
      <ion-input [(ngModel)]="workAddress" name="workAddress" disabled></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Account Number</ion-label>
      <ion-input [(ngModel)]="accountNumber" name="accountNumber" disabled></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Bank Name</ion-label>
      <ion-input [(ngModel)]="bankName" name="bankName" disabled></ion-input>
    </ion-item>
  </ion-list>
</ion-content>
