<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start" style="width: 10px;">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item>
      <ion-avatar class="profile-picture">
        <img [src]="profilePicture ? profilePicture : '../../assets/icon/images/user-default-avatar.png'">
      </ion-avatar>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Full Name</ion-label>
      <ion-text>{{ fullName }}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Phone Number</ion-label>
      <ion-text>{{ phoneNumber }}</ion-text>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-text>{{ email }}</ion-text>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Work Address</ion-label>
      <ion-text>{{ workAddress }}</ion-text>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Account Number</ion-label>
      <ion-text>{{ accountNumber }}</ion-text>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Bank Name</ion-label>
      <ion-text>{{ bankName }}</ion-text>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" (click)="navigateToPassword()">Change Device Password</ion-button>
  </ion-toolbar>
</ion-footer>
