<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <app-logo></app-logo>
      <h2>POS (Point of Sale Terminal)</h2>
      <h4>Enjoy fast payment processing with good network reception.</h4>
      <p>With our fast,new and reliable POS devices, you transfer, withdrawal and receive payment at any time while enjoying a reduced fee . </p>
      <ion-button expand="block" color="success" (click)="navigateToSignUp()">Register as an Agent</ion-button>
    </ion-slide>

    <ion-slide>
      <app-logo></app-logo>
      <h2>Welcome</h2>
      <p>Make all your transactions in few taps. Safely and speedily pay your bills, take loans, and make bank transfers with the SpeedPay app. Get SpeedPay.</p>
    </ion-slide>

    <ion-slide>
      <app-logo></app-logo>
      <h2>All-in-one Utility Bills</h2>
      <h4>Instant Airtime, Data, cable Subscription</h4>
      <p>Keep in touch at all times. You can easily subscribe to or renew your internet service plan. There won't be hiccups, delays, or downtimes.</p>
    </ion-slide>
  </ion-slides>
  <app-start></app-start>
</ion-content>
