<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" color="light">
      <ion-back-button defaultHref="/" (click)="backButtonClicked()"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list style="margin: 10px;">
    <ion-item>
      <app-logo></app-logo>
    </ion-item>
  </ion-list>
  <ion-list>
    <form>
    <ion-item>
      <ion-label position="stacked">Account Number</ion-label>
      <ion-input
        type="text"
        ngModel
        name="accountNumber"
        ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input
        type="password"
        ngModel
        name="password"
        required

        ></ion-input>
    </ion-item>
  </form>
  </ion-list>

  <ion-button expand="block" (click)="login()">Login</ion-button>
</ion-content>
