<ion-header>
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Account Number</ion-label>
      <ion-input [(ngModel)]="accountNumber" name="accountNumber"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="block" (click)="login()">Login</ion-button>
</ion-content>

