<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Deposit
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Account Number</ion-label>
      <ion-input type="text" [(ngModel)]="accountNumber"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Amount</ion-label>
      <ion-input type="number" [(ngModel)]="amount"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="block" (click)="deposit()">Deposit</ion-button>
</ion-content>
