<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start" color="light">
      <ion-back-button defaultHref="/home/profile" (click)="backButtonClicked()"></ion-back-button>
    </ion-buttons>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Current Password</ion-label>
      <ion-input type="password" [(ngModel)]="currentPassword"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">New Password</ion-label>
      <ion-input type="password" [(ngModel)]="newPassword"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Confirm Password</ion-label>
      <ion-input type="password" [(ngModel)]="confirmPassword"></ion-input>
    </ion-item>
  </ion-list>

  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

  <ion-button expand="block" (click)="changePassword()">Change Password</ion-button>
</ion-content>
