ion-card{
  background-color: #ebeef4;
}
ion-card-header{
  background-color: #222428
}
p{
  color: black;
}
ion-button {
  border: 2px solid black;
  border-radius: 30%;
  background-color: azure;
  align-self: center;
}

.deposit-button-card{
  border-radius: 10%;
  background-color: rgb(238, 228, 172);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.withdraw-button-card{
  border-radius: 10%;
  background-color: rgb(233, 146, 146);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.transfer-button-card{
  border-radius: 10%;
  background-color: rgb(160, 220, 160);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.show {
  display: block;
}

.rotate {
  transform: rotate(180deg);
}

@media (prefers-color-scheme:dark) {
  ion-card{
    background-color: #222428;
  }
  ion-card-header{
    background-color: rgb(13, 13, 68)
  }
  p{
    background-color:transparent;
    color: azure;
  }
}

.dark-mode {
  --ion-background-color: #333;
  --ion-text-color: #fff;
  ion-card{
    background-color: #222428;
  }
  ion-card-header{
    background-color: rgb(13, 13, 68)
  }
  p{
    background-color:transparent;
    color: azure;
  }
}

.light-mode {
  --ion-background-color: #fff;
  --ion-text-color: #333;
}
