<ion-tabs>
  <ion-tab-bar slot="bottom" color="dark">
    <ion-tab-button tab="dashboard" padding>
      <ion-avatar><img src="../../assets/icon/images/home.png" alt="home"></ion-avatar>
    </ion-tab-button>

    <ion-tab-button tab="profile" padding>
      <ion-avatar><img src="../../assets/icon/images/profile.png" alt="profile" ></ion-avatar>
    </ion-tab-button>

    <ion-tab-button (click)='navigateToSignIn()' padding>
      <ion-avatar><img src="../../assets/icon/images/logout.png" alt="profile" ></ion-avatar>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

